@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* .lexend-exa-<uniquifier> {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */

@font-face {
    font-family: Calculator;
    src: url(fonts/Calculator/Calculator.ttf);
}

@font-face {
    font-family: Social Sans;
    src: url(fonts/SocialSans/SOCIAL-SANS.otf);
}

@font-face {
    font-family: Navigator;
    src: url(fonts/Navigator/Navigator-Extended.ttf);
}


/* ---------------------------- classes de display ------------------------------------------*/

.somentedisplayflex {
    display: flex;
}


.somentedisplaybeetw {
    display: flex;
}

.displayflexcolumcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* abandonei a ideia é a 4 vez que fazendo essas trocas a section quebra de um modo que não retorna pra como tava a ponto que o unico modo de concertar é criando uma nova div e reestrutorando denovo */

/* descobri o pq, na troca das classes eu acabo deixando dus ids ao mesmo tempo em um elemento ex: id="introducao displayflex" isso quebra por completo a section só que eu pesquisei muito e não achei de modo algum como fazer a seção voltar ao que ela era a não recomeçar o projeto do zero o que eu não tem como. */

/* ---------------------------- configs gerais ------------------------------------------*/

#listana-vegacao.tema-escuro a {
    color: rgb(0, 0, 0);
}

#listana-vegacao a {
    color: rgb(245, 245, 245);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2.5em;
    font-family: Poppins;
}

input {
    width: 300px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    top: 0;
    width: 100%;
    background-color: rgba(169, 169, 169, 0.267);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    

}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    font-family: Poppins;
}

nav ul li a:hover {
    color: #e2932b;
    font-size: 26px;
    transition: color 0.3s ease
}

nav button{
    border: none;
    font-family: Poppins;
    background-color: #ffffff;  
    border-radius: 900px;
    padding: 10px;
    
}

nav button:hover{
    background-color:#e2932b;  
    color: #ffffff;
    padding: 12px;
}

button{
    cursor: pointer;
}

.moon{
    width: 15px;
}


h1 {
    text-align: center;
    margin-top: -80px;
    margin-bottom: 90px;
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


p {
    font-size: 20px;
}

/* ----------------------------------------------------------------------*/


.introducaoconcertada {
    background-image: url(imgs/fotobackground/decoracao-de-treinamento-com-prancheta-sapatos-e-frutas_23-2147692099.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 90vh;

}


.conteudo {
    color: #000000;
    background-color: #e2932b;
    border: solid;

    /* top | right | bottom | left */
    padding: 3%;
    /* top | right | bottom | left */
    margin: 0 13% 0 13%;

    text-align: center;
    border-radius: 12px;
}

.intro2 {
    padding-top: 30px;
}

.imgintro {
    height: 300px;
    margin-right: 20%;
}


.saude {
    height: 200px;
}


/* ----------------------------------------------------------------------*/


.calculadoraconcertada {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: #a9a9a944;

    padding-top: 5%;
    padding-left: 25%;
    padding-bottom: 5%;

    margin-top: 12%;
    margin-bottom: 12%;
}

.calculeseuimc {
    margin-bottom: 100px;
}

.horadocalculo {
    display: flex;
    flex-direction: column;
}



.interfacedecalculo {
    display: flex;
    flex-direction: column;
}

.alinhamentodainsercao {
    display: flex;
}

.insercaodealtura {
    background-color: #2b56e2;
    padding: 2%;
    margin-right: 1.9%;
    border-radius: 30px;
}

.insercaodepeso {
    background-color: #e2932b;
    padding: 2%;
    border-radius: 30px;
}

label {
    font-size: 25px;
    font-family: "Lexend Exa", sans-serif;
}

input {
    border-radius: 5px;
    height: 40px;
    font-size: 30px;
    border: none;
}


.botaodocalculo {
    font-family: Calculator;
    font-size: 30px;
    font-weight: 1000;
    border: double;

    background-color: #ffffff;
    width: 200px;
    border-radius: 30px;
    margin-top: 2%;
    margin-left: 26%;
    padding: 1%;
}

.botaodocalculo:hover{
    background-color: #000000bd;
    color: #ffffff;
}


.resultadonumerico {
    padding-top: 30px;
    padding-left: 20%;
}

.resultadonumerico p {
    font-size: 30px;
    font-family: "Lexend Exa", sans-serif;   
}

.resultadonumerico span {
    font-size: 30px;
    font-weight: 700;
    color: #0a0a0a;
}


/* ----------------------------------------------------------------------*/


#resultado {
    margin-bottom: 15%;
}

#resultado h2{
    padding: 3%;
    text-align: center;
    font-size: 50px;
}

.imgdotiposdepeso {
    width: 1200px;
}

.conteudoresultado{
    margin-top: 2%;
}

.listadoresultado li {
    font-size: 30px;
    padding: 3px;
    list-style: none;
}

.listadoresultado li b {
    color: #e2932b;
}

.observacaocriancas p {
    background-color: #e2932b;
    margin-left: 2%;
    margin-right: 50%;
    font-size: 25px;
    padding: 1%;
    border-radius: 10px;
    border: #2b56e2 solid;
}


/* ----------------------------------------------------------------------*/


footer {
    background-color: #a9a9a944;
    color: #000000;
    margin-top: 80px;
    padding: 2%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.caixadecimafooter {
    display: flex;
    justify-content: space-between;

    padding-top: 30px
}

.sobre {
    /* top | right | bottom | left */
    padding: 0 0 0 20%;
    margin: 0 20% 0 0;
}

.mapadosite {
    margin-right: 30%;
}

.mapadosite ul {
    list-style: none;
}

.mapadosite ul li a {
    text-decoration: none;
    color: inherit;
}

.mapadosite ul li a:hover {
    color: #e2932b;
    transition: color 0.2s ease
}

.caixadebaixofooter {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
}

.direitos {
    padding-right: 5%;
}

b {
    color:#e2932b;
}








